.container {
  max-width: 200pt;
  min-width: 5rem;

  label {
    font-family: "GT-Walsheim-Pro-Medium";
  }

  input {
    display: flex;
    background-color: white;
    padding: 0 .25rem;
    border: 1pt solid black;
    border-image: initial;
    line-height: 1.5;
    width: 100%;
    font-size: 1.15rem;
  }
}
